$gradient: linear-gradient(343deg,
        hsl(230, 80.49%, 16.08%) 0%,
        hsl(222.29, 80.92%, 16.42%) 8.1%,
        hsl(209.8, 82.02%, 17.36%) 15.8%,
        hsl(199.24, 83.41%, 18.71%) 23.1%,
        hsl(191.36, 84.84%, 20.32%) 30%,
        hsl(185.69, 86.17%, 22.07%) 36.6%,
        hsl(181.62, 87.34%, 23.86%) 43%,
        hsl(178.69, 88.57%, 26.13%) 49.2%,
        hsl(176.68, 89.74%, 28.76%) 55.3%,
        hsl(175.27, 90.65%, 31.16%) 61.3%,
        hsl(174.26, 91.37%, 33.33%) 67.4%,
        hsl(173.51, 91.93%, 35.24%) 73.5%,
        hsl(172.96, 92.38%, 36.89%) 79.8%,
        hsl(172.56, 92.72%, 38.24%) 86.3%,
        hsl(172.28, 92.97%, 39.29%) 93%,
        hsl(172.11, 93.14%, 40%) 100%);

html {
    margin: 0;
    padding: 0;
    height: 100vh;

    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $gradient;

        .container {
            z-index: 1;
            width: 400px;
            height: 700px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;
            background-color: #ffffffd0;

            h1 {
                margin-top: 0;
            }

            .rod {
                border: 1px solid rgba(61, 61, 61, 0.158);
                width: 150px;
                margin-left: auto;
                margin-right: auto;
            }

            input[type="text"],
            button {
                width: 250px;
                display: block;
                margin: 0 auto;
            }

            input[type="text"] {
                text-align: center;
                border: none;
                cursor: default;
            }

            input[type="text"],
            .box-container {
                padding: 15px;
                border-radius: 10px;
            }

            #div-slider {
                position: relative;
                display: flex;
                flex-direction: column;
                span#length-password {
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    font-size: 16px;
                    color: #8b8b8b;
                }
                span#range-value {
                    font-size: 2rem;
                    margin: 10px 0 20px 0;
                }
                input[type="range"] {
                    height: 5px;
                    width: 200px;
                    display: block;
                    -webkit-appearance: none;
                    background-color: #bdc3c7;
                    border-radius: 5px;
                    margin: 0 auto;
                    margin-bottom: 10px;
                    outline: 0;
                }

                input[type="range"]::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    background-color: #84d0dd;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    border: 2px solid white;
                    cursor: pointer;
                }
            }

            .box-container {
                width: 250px;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                background-color: #ffffff;

                span {
                    float: left;
                    font-size: 1.2em;
                }

                .switch {
                    position: relative;
                    width: 52px;
                    height: 24px;
                    float: right;
                }

                .switch input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #50565A;
                    -webkit-transition: .4s;
                    transition: .4s;
                }

                .slider:before {
                    position: absolute;
                    content: "";
                    height: 16px;
                    width: 16px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }

                input:checked+.slider {
                    background-color: #84d0dd;
                }

                input:focus+.slider {
                    box-shadow: 0 0 1px #84d0dd;
                }

                input:checked+.slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }

                /* Rounded sliders */
                .slider.round {
                    border-radius: 34px;
                }

                .slider.round:before {
                    border-radius: 50%;
                }

            }

            button {
                width: 150px;
                border: none;
                border-radius: 10px;
                padding: 15px;
                background: $gradient;
                color: #ffffff;
                cursor: pointer;
            }
        }
    }
}